    .photo-grid {
        width: calc(100% - 48px * 2);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px 16px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    
    @media screen and (max-width: 1024px) {
        .photo-grid {
            width: calc(100% - 48px * 2);
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 14px 14px;
        }
    }
    
    @media (max-width: 768px) {
        .photo-grid {
            width: calc(100% - 24px * 2);
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
            gap: 16px 16px;
        }
    }
    
    @media (max-width: 425px) {
        .photo-grid {
            width: calc(100% - 16px * 2);
            grid-template-columns: 1fr;
            grid-template-rows: repeat(12, 1fr);
            gap: 12px;
        }
    }