.places {
    width: calc(100% - 148px * 2);
    margin: 0 auto;
    padding-top: 92px;
}

@media screen and (max-width: 1062px) {
    .places {
        width: calc(100% - 48px * 2);
    }
}

@media (max-width: 872px) {
    .places {
        width: calc(100% - 24px * 2);
    }
}

@media (max-width: 526px) {
    .places {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 425px) {
    .places {
        padding-top: 64px;
    }
}