.places {
    width: calc(100% - 148px * 2);
    margin: 0 auto;
    padding-top: 92px;
}

@media screen and (max-width: 1024px) {
    .places {
        width: calc(100% - 48px * 2);
    }
}

@media (max-width: 768px) {
    .places {
        width: calc(100% - 24px * 2);
    }
}

@media (max-width: 425px) {
    .places {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .places {
        margin: 0;
        width: 100%;
    }
}