.intro__list {
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    padding: 0;
    margin-top: 33px;
    margin-bottom: 0;
    max-width: 690px;
}

@media (max-width:768px) {
    .intro__list {
        min-width: 100%;
    }
}