.lead__title {
    width: calc(100% - 132px * 2);
    color: white;
    font-family: Inter-black;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: 58px auto 0;
    padding: 0;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        width: calc(100% - 104px * 2);
        margin: 50px auto 0;
    }
}

@media (max-width: 768px) {
    .lead__title {
        width: calc(100% - 24px * 2);
    }
}

@media (max-width: 425px) {
    .lead__title {
        width: calc(100% - 16px * 2);
        font-size: 40px;
        line-height: 44px;
    }
}

@media (max-width: 320px) {
    .lead__title {
        width: calc(100% - 16px * 2);
        font-size: 40px;
        line-height: 44px;
    }
}