.footer__copyright {
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    align-self: right;
}

@media (max-width: 425px) {
    .footer__copyright {
        line-height: 14px;
    }
}