.lead__image {
    max-width: 100%;
    min-height: 615px;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        min-height: 580px;
    }
}

@media (max-width: 768px) {
    .lead__image {
        min-height: 480px;
    }
}

@media (max-width: 425px) {
    .lead__image {
        min-height: 62.5%;
    }
}

@media (max-width: 320px) {
    .lead__image {
        min-height: 200px;
    }
}