.website {
    grid-column: 2/3;
    grid-row: 1/2;
    max-width: 456px;
    max-height: 46px;
    align-self: flex-end;
}

@media (max-width: 425px) {
    .website {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-top: 5px;
        margin-left: 16px;
    }
}

@media (max-width: 320px) {
    .website {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-top: 5px;
        margin-left: 16px;
    }
}