.lead__subtitle {
    width: calc(100% - 182px * 2);
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    margin: 32px auto 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        width: calc(100% - 154px * 2);
    }
}

@media (max-width: 768px) {
    .lead__subtitle {
        width: calc(100% - 50px * 2);
    }
}

@media (max-width: 425px) {
    .lead__subtitle {
        width: calc(100% - 16px * 2);
        margin: 16px auto 0;
        font-size: 16px;
        line-height: 20px;
    }
}