.cover {
    width: calc(100% - 48px * 2);
    min-height: 740px;
    margin: 92px auto 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
        min-height: 640px;
        margin: 92px 0 0;
    }
}

@media (max-width: 768px) {
    .cover {
        margin: 88px 0 0;
        min-height: 480px;
    }
}

@media (max-width: 425px) {
    .cover {
        min-height: 260.4px;
    }
}

@media (max-width: 320px) {
    .cover {
        min-height: 200px;
        margin: 64px 0 0;
    }
}