.cover__title {
    max-width: 656px;
    font-family: Inter-black;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: white;
    margin: 0 auto 32px;
    padding-top: calc(100% - 450.5px * 2);
    z-index: 3;
    box-sizing: border-box;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        padding-top: calc(100% - 395.5px * 2);
    }
}

@media (max-width: 768px) {
    .cover__title {
        padding-top: calc(100% - 307.5px * 2);
    }
}

@media (max-width: 563px) {
    .cover__title {
        padding-top: calc(100% - 220px * 2);
    }
}

@media screen and (max-width: 425px) {
    .cover__title {
        max-width: 288px;
        padding-top: calc(100% - 178.5px * 2);
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        padding-top: calc(100% - 134.5px * 2);
        font-size: 32px;
        line-height: 35px;
    }
}