.cover__title {
    max-width: 656px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: white;
    margin: 0 auto 32px;
    z-index: 3;
    box-sizing: border-box;
    position: relative;
}

@media (max-width: 425px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
    }
}