.website__link {
    font-family: Inter;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    text-decoration-line: underline;
    color: white;
    transition: opacity 0.5s linear;
}

.website__link:hover {
    opacity: 0.8;
}