.place {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "place__title place__website" "place__image place__paragraph" "place__image place__paragraph" "place__image place__paragraph";
    grid-template-rows: auto auto auto auto auto;
    column-gap: 40px;
    row-gap: 25px;
    margin-bottom: 8.13%;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1062px) {
    .place {
        column-gap: 32px;
    }
}

@media (max-width: 872px) {
    .place {
        grid-template-columns: auto auto;
        column-gap: 28px;
        margin-bottom: 10%;
    }
}

@media (max-width: 650px) {
    .place {
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
    }
}

@media (max-width: 526px) {
    .place {
        grid-template-columns: 100%;
        margin-bottom: 15%;
        column-gap: 0;
    }
}