.footer {
    max-width: 1184px;
    padding-top: 92px;
    padding-bottom: 24px;
    margin: 0 auto;
    display: flex;
}

@media screen and (max-width: 1024px) {
    .footer {
        margin-left: 16px;
    }
}

@media (max-width: 425px) {
    .footer {
        flex-direction: column;
        padding-top: 64px;
        max-width: 165px;
    }
}

@media (max-width: 320px) {
    .footer {
        flex-direction: column;
        padding-top: 64px;
        max-width: 165px;
    }
}